/* Prevent img alt flash in FF */
body img {
    font-size: 0;
}

template .site-main, .page-template .site-main, .post-template .site-main {
    background: #fdfdfd;
}

.site-header {
    background: #ededed;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-family: 'Roboto Slab';
}

.site-header::after, .site-header::before {
    background: none;
}

.site-logo {
    display: flex;
    align-items: center;
    font-family: 'Audiowide';
    font-size: 24pt;
    margin-right: 1em;
    text-decoration: none;
}

.site-logo img {
    margin-right: 5px;
    max-width: initial;
}

.site-logo .left {
    color: #444;
}

.site-logo .right {
    color: #e5aa3d;
}

.site-header .site-nav-left, .site-header .site-nav-right {
    padding: 0;
    letter-spacing: initial;
    height: auto;
}

.site-header .site-nav-left li a, .site-header .site-nav-right li {
    padding: 10px;
}

.site-nav {
    height: inherit;
}

.site-nav .nav {
    flex-wrap: wrap;
}

.site-header .nav li, .site-header .nav a {
    color: #666;
    font-size: 16pt;
    letter-spacing: initial;
    white-space: nowrap;
    opacity: inherit;
}

.site-footer .nav li, .site-footer .nav a,
.site-footer-content a {
    color: #e5aa3d;
    opacity: inherit;
}

.site-footer {
    border-top: 1px solid #ddd;
    padding: 0;
}

.site-header .nav li a:hover, .site-footer .nav li a:hover,
.site-footer-content a:hover {
    color: #428bca;
}

.site-footer-content a:hover {
    text-decoration: underline;
}

.site-footer-content {
    padding: 1em;
    justify-content: left;
}

.site-footer, .site-footer-content {
    font-size: 10pt;
    background: #fdfdfd;
    color: #888;
}

.post-full {
    font-family: 'Roboto Slab', serif;
}

.post-full-header {
    text-align: left;
    max-width: 920px;
}

.post-full-content {
    background: inherit;
}

.post-full-content::before, .post-full-content::after {
    display: none;
}

.post-full-title, .post-full-meta-date {
    color: #666;
}

.post-full-content a {
    color: #e5aa3d;
    text-decoration: none;
    box-shadow: none;
}

.post-full-content a:hover {
    color: #428bca;
}

.post-full-content h1, .post-full-content h2, .post-full-content h3,
.post-full-content h4, .post-full-content h5, .post-full-content h6 {
    color: #666;
    font-weight: normal;
}

.post-full-content blockquote {
    border-left: 3px solid #e5aa3d;
}

.mailinglist {
    max-width: 450px;
    min-width: 100%;
    margin: 1em auto;
}

.mailinglist form {
    display: block;
    position: relative;
}

.mailinglist input {
    padding: 0.4em;
    border: 1px solid #abb0b2;
    border-radius: 3px;
}

button {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fcfcfc;
    background-image: linear-gradient(#fcfcfc, #eee);
    padding: 0.25em 1em;
    color: #e5aa3d;
    cursor: pointer;
    line-height: 1.5em;
}

button:hover {
    color: #428bca;
    background-color: #ddd;
    background-image: linear-gradient(#ececec, #ddd);
}

@media (max-width: 650px) {
    .site-nav, .site-nav-left {
    }
}
